<div class="jumbotron bg-info text-light container d-flex flex-column justify-content-center">
  <div class="w-33" >
    <img
      src="{{URL}}/resources/img/logo.png"
      style="width: 150px"/>
  </div>
  <div class="p-3 my-3 text-center w-66">
    <h1>Engish Just For You</h1>
    <p>Model - View - Controller</p>
    <a href="{{URL}}"><button class="btn btn-light">HOME</button></a>
    <a href="{{URL}}/sobre"><button class="btn btn-light">SOBRE</button></a>
    <a href="{{URL}}/depoimentos"
      ><button class="btn btn-light">DEPOIMENTOS</button></a
    >
  </div>
</div>
