<section class="grid-section contato lead" data-anime="scroll" id="contato">
  <div class="text-center">
    <h1 class="titulo ">Contato</h1>
    <div
      class="mapa"
      data-tooltip
      aria-label="Endereço de nosso escritorio."
    >
      <img src="{{URL}}/resources/img/maps.png" />
    </div>
  </div>
  <br>
  <ul class="dados">
    <li><strong>E-mail: </strong>teacher@englishjustforyou.com.br</li>
    <li><strong>Celular: </strong>+55 (18) 99611-2682</li>
    <li><strong>Endereço: </strong>Av. Umuarama 2011, Araçatuba - SP</li>
  </ul>
</section>
